/* primary color rgb(128, 206, 214)*/
@import url('https://fonts.googleapis.com/css?family=Arvo');
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
}

.demo-page {
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(128, 206, 214);
  color: #FFF;
}

.header img {
  height: 2em;
}

.header h1 {
  font-size: 1.5em;
  margin-left: 1em;
}

.header h1 a {
  text-decoration: none;
  color: #FFF;
  transition: color 0.5s;
}

.header h1 a:hover {
  color: #FFF;
}

.author-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: 12%;
  margin-right: 1em;
}

.author-dropdown h1 {
  margin-right: .5em;
}


.dropdown-content {
  display: none;
}

#burger-button {
  background: url('./burger.png');
}

/* JUMBOTRON */
.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 1em 15em;
}

.jumbotron button {
  width: 30%;
  background-color: rgba(128, 206, 214, 0.7);
  transition: background-color 1s;
  border: none;
  border-radius: 1em;
  margin: 1em 0 0 0;
  padding: 1em;
}

.jumbotron button a {
  text-decoration: none;
  color: #FFF;
  font-size: 2em;
}

.jumbotron button:hover {
  background-color: rgba(128, 206, 214, 1);
}

/*BACKGROUND INFO*/
.background-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em 3em;
  background-color: #888;
  color: #FFF;
}

background-info img {
  height: 5em;
}

.background-info .info {
  width: 50%;
  margin-left: 2em;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(128, 206, 214, 1);
  padding: 1em;
}

.footer a {
  text-decoration: none;
  color: #FFF;
  transition: color 0.5s;
}

.footer a:hover {
  color: #000;
}
